.formheaderClass
{
    padding-bottom: 5px;
}

.desc
{
    float: left;
    padding-right: 10px;
}

.descElement
{
    text-align: right;
    height: 35px;
}

.fileList
{
    float: left;
}

.fileElement
{
    height: 35px;
}