{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="https://pi.iem.pw.edu.pl/~zychp/files/L4/fileslistStyle.css">
{% endblock %}

{% block content %}
<div class="formClass">
  <div class="formheaderClass">
    <a href="/zychp/webapp/logout">Wyloguj</a>
    <br>
    <br>
    Witaj {{ username }}!
    <br>
    <br>
    <form id="downloadForm" method="POST" action="/zychp/dl/getfilesnames" enctype="multipart/form-data">
      <form id="downloadForm" method="POST" action="/zychp/dl/getfilesnames" enctype="multipart/form-data">
      <input value="{{ jwt_value }}" name="jwt" type="hidden" />
      <input type="submit" value="Odśwież listę plików" />
    </form>
    <h3>Twoje pliki:</h3>
  </div>
  <div class="fileList">

    {% for file in fileslist %}
    <div class="fileElement">
      <form id="downloadForm" method="POST" action="/zychp/dl/download/{{ file }}" enctype="multipart/form-data">
        Plik {{loop.index}}:
        <input value="{{ jwt_value }}" name="jwt" type="hidden" />
        <input type="submit" value="{{ file }}" />
      </form>
    </div>
    {% else %}
    Brak plików
    {% endfor %}
  </div>
  <div style="clear:both"></div>
</div>
{% endblock %}