{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="https://pi.iem.pw.edu.pl/~zychp/files/L3/fileslistStyle.css">
{% endblock %}

{% block content %}
<div class="formClass">
  <div class="formheaderClass">
    <a href="/zychp/login/logout">Wyloguj</a><br>
    <br>
    Witaj {{ username }}!<br>
    <h3>Twoje pliki:</h3>
  </div>
  <div class="desc">
    <div class="descElement"> Plik 1: </div>
    <div class="descElement"> Plik 2: </div>
    <div class="descElement"> Plik 3: </div>
    <div class="descElement"> Plik 4: </div>
    <div class="descElement"> Plik 5: </div>
  </div>
  <div class="fileList">
    <div class="fileElement"> <a download class="fileElement" href="userfiles/{{ username }}/{{ file1 }}" target="blank"> {{ file1 }} </a> </div>
    <div class="fileElement"> <a download class="fileElement" href="userfiles/{{ username }}/{{ file2 }}" target="blank"> {{ file2 }} </a> </div>
    <div class="fileElement"> <a download class="fileElement" href="userfiles/{{ username }}/{{ file3 }}" target="blank"> {{ file3 }} </a> </div>
    <div class="fileElement"> <a download class="fileElement" href="userfiles/{{ username }}/{{ file4 }}" target="blank"> {{ file4 }} </a> </div>
    <div class="fileElement"> <a download class="fileElement" href="userfiles/{{ username }}/{{ file5 }}" target="blank"> {{ file5 }} </a> </div>
  </div>
  <div class="deleteList">
      <form id="deleteForm" method="POST" action="" enctype="multipart/form-data">
        <div class="deleteElement"> <input name="0" type="checkbox" /></div>
        <div class="deleteElement"> <input name="1" type="checkbox" /></div>
        <div class="deleteElement"> <input name="2" type="checkbox" /></div>
        <div class="deleteElement"> <input name="3" type="checkbox" /></div>
        <div class="deleteElement"> <input name="4" type="checkbox" /></div>
        <div class="formDivClass"> <input id="submitForm" class=".formElement" type="submit" value="Usun"/></div>
      </form>
    </div>
  <div style="clear:both"></div>
</div>
{% endblock %}