{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="https://pi.iem.pw.edu.pl/~zychp/files/L4/fileslistStyle.css">
{% endblock %}

{% block content %}
<div class="formClass">
  <div class="formheaderClass">
    <a href="/zychp/webapp/logout">Wyloguj</a>
    <br>
    <br>
    Witaj {{ username }}!
    <br>
    <br>
    <form id="downloadForm" method="POST" action="/zychp/dl/getfilesnames" enctype="multipart/form-data">
      <input value="{{ jwt_value }}" name="jwt" type="hidden" />
      <input type="submit" value="Odśwież listę plików" />
    </form>
    <h3>Twoje pliki:</h3>
  </div>
  <div class="desc">
    <div class="descElement"> Plik 1: </div>
    <div class="descElement"> Plik 2: </div>
    <div class="descElement"> Plik 3: </div>
    <div class="descElement"> Plik 4: </div>
    <div class="descElement"> Plik 5: </div>
  </div>
  <div class="fileList">
    <div class="fileElement">
      <form id="downloadForm" method="POST" action="/zychp/dl/download/{{ file1 }}" enctype="multipart/form-data">
        <input value="{{ jwt_value }}" name="jwt" type="hidden" />
        <input type="submit" value="{{ file1 }}" />
      </form>
    </div>
    <div class="fileElement">
      <form id="downloadForm" method="POST" action="/zychp/dl/download/{{ file2 }}" enctype="multipart/form-data">
        <input value="{{ jwt_value }}" name="jwt" type="hidden" />
        <input type="submit" value="{{ file2 }}" />
      </form>
    </div>
    <div class="fileElement">
      <form id="downloadForm" method="POST" action="/zychp/dl/download/{{ file3 }}" enctype="multipart/form-data">
        <input value="{{ jwt_value }}" name="jwt" type="hidden" />
        <input type="submit" value="{{ file3 }}" />
      </form>
    </div>
    <div class="fileElement">
      <form id="downloadForm" method="POST" action="/zychp/dl/download/{{ file4 }}" enctype="multipart/form-data">
        <input value="{{ jwt_value }}" name="jwt" type="hidden" />
        <input type="submit" value="{{ file4 }}" />
      </form>
    </div>
    <div class="fileElement">
      <form id="downloadForm" method="POST" action="/zychp/dl/download/{{ file5 }}" enctype="multipart/form-data">
        <input value="{{ jwt_value }}" name="jwt" type="hidden" />
        <input type="submit" value="{{ file5 }}" />
      </form>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
{% endblock %}