{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="https://edi.iem.pw.edu.pl/~zychp/files/P5/loginStyle.css">
{% endblock %}

{% block content %}
<div class="formClass">
  <div class="formheaderClass">
    <h3>Zaloguj:</h3>
  </div>
  <div class="formLoginDiv">
    <form id="formLogin" method="POST" action="" enctype="multipart/form-data">
      <div class="formElement"> <input id="submitForm" class=".formElement" name="login" type="submit" value="Zaloguj z wykorzystaniem auth0" /></div>
    </form>
  </div>
  <div class="messageDiv">
    <div class="messageElement">{{ error }}</div>
  </div>
  <div style="clear:both"></div>
</div>
{% endblock %}