{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="https://pi.iem.pw.edu.pl/~zychp/files/P5/registerStyle.css">
<script type="text/javascript" src="https://pi.iem.pw.edu.pl/~zychp/files/P5/register.js"></script>

{% endblock %}

{% block content %}
<div class="formClass">
    <div class="formheaderClass">
        <h3>Formularz tworzenia nowego konta:</h3>
    </div>
    <div class="descFormClass">
        <div class="descTextFormClass"> Imię: </div>
        <div class="descTextFormClass"> Nazwisko: </div>
        <div class="descTextFormClass"> Data urodzenia: </div>
        <div class="descTextFormClass"> Pesel: </div>
        <div class="descTextFormClass"> Płeć: </div>
        <div class="descTextFormClass"> Zdjęcie: </div>

        <div class="descTextFormClass"> Login: </div>
        <div class="descTextFormClass"> Hasło: </div>
        <div class="descTextFormClass"> Powtórz Hasło: </div>
    </div>
    <div class="formInputClass">
        <section>
            <form id="formRegister" method="POST" action="http://edi.iem.pw.edu.pl/chaberb/register/user/" enctype="multipart/form-data"
                onsubmit="return false;">
                <div class="formDivClass"> <input id="firstnameForm" class="formElement" name="firstname" type="text" />
                </div>
                <div class="formDivClass"> <input id="lastnameForm" class="formElement" name="lastname" type="text" />
                </div>
                <div class="formDivClass"> <input id="datebirthForm" class="formElement" name="datebirth" type="date"
                        min="1900-01-01" />
                </div>
                <div class="formDivClass"> <input id="peselForm" class="formElement" name="pesel" type="text" />
                </div>
                <div class="formDivClass"> <input id="sexm" name="sex" class="formElement" type="radio" value="m" />Mężczyzna<input
                        id="sexf" name="sex" type="radio" value="f" />Kobieta</div>
                <div class="formDivClass"> <input id="photoForm" class="formElement" name="photo" type="file" />
                </div>

                <div class="formDivClass"> <input id="loginForm" class="formElement" name="login" type="text" /></div>
                <div class="formDivClass"> <input id="passwordForm" class="formElement" name="password" type="password" />
                </div>
                <div class="formDivClass"> <input id="repasswordForm" class="formElement" name="repassword" type="password" />
                </div>
                <div class="formDivClass"> <input id="submitForm" class="formElement" name="Send" type="submit"
                        onclick="val()" />
                </div>
            </form>
        </section>
    </div>
    <div class="errClass">
        <div id="firstnameErr" class="errTextClass"> </div>
        <div id="lastnameErr" class="errTextClass"> </div>
        <div id="datebirthErr" class="errTextClass"> </div>
        <div id="peselErr" class="errTextClass"> </div>
        <div id="sexErr" class="errTextClass"> </div>
        <div id="photoErr" class="errTextClass"> </div>

        <div id="loginErr" class="errTextClass"> </div>
        <div id="passwordErr" class="errTextClass"> </div>
        <div id="repasswordErr" class="errTextClass"> </div>
    </div>
    <div style="clear:both"></div>
</div>
{% endblock %}